//theming - light mode
$body-background: #ffffff;
$primary: #078DFE;
$secondary: #222222;
$accent: #ffffff;

// //theming - night mode
// $body-background: #222222;
// $primary: #078DFE;
// $secondary: #222222;
// $accent: #ffffff;

//general colors
$green: #139676;
$orange: #FF3D00;
$yellow: #ffc400;
$blue: #2979ff;

$margin: 10px;